%h4.title= h(@course.full_name)
%h1.title Modificar arquivo

%p
  - form_for :attachment, @attachment, :url => course_attachment_url, :html => { :method => 'put', :multipart => 'true' } do
    = render :partial => 'form'
    = submit_tag 'Editar', :accesskey => 'e'
