.cmd
  = action_icon 'add', 'Adicionar', new_course_wiki_instance_url(@course), :accesskey => '+'

%h4.title= h(@course.full_name)
%h1.title Páginas Wiki

.box.div_news
  - if !@course.wiki_pages.empty?
    %ul
      - @course.wiki_pages.reorder('UPPER(title)').each do |w|
        %li
          = link_to(w.title, course_wiki_instance_url(@course.to_param, w.to_param))
          - if w.front_page
            %i{:class => 'fa fa-home'}

  - else
    .box
      %ul
        %li.no_itens Nenhuma página wiki
