%h4.title= h(@course.full_name)
%h1.title Editar evento

%p
  - form_tag course_event_url(@course, @event), :method => :put do
    = render :partial => 'form'
    = submit_tag 'Editar', :accesskey => 'e'
