%h4.title= @course.full_name
%h1.title Adicionar evento

%p
  = form_tag course_events_url(@course), :method => :post do
    = render :partial => 'form'
    = submit_tag "Adicionar", :accesskey => 'e'
