.menu
  %h1= App.title
  %ul
    %li= link_to t(:courses).titleize, courses_url, :accesskey => 'd'
    %li= link_to t(:users).titleize, users_url, :accesskey => 'p'
    %li= link_to "Mudanças recentes", log_url, :accesskey => 'r'
