	<div class="menu">
    <div class="cmd">
      <% if @course.users.include?(@current_user) %>
        <%= action_icon 'subtract', 'Deixar de participar', unenroll_course_url(@course) %>
      <% else %>
        <%= action_icon 'add', 'Participar', enroll_course_url(@course) %>
      <% end %>
    </div>
		<h1>Participantes</h1>
		<ul class="widget_users">
		<% @course.users.each do |user| %>
        <%= link_to(image_tag(gravatar_url_for(user.email, 26), class: 'avatar'), user_url(user), title: user.display_name)%>
		<% end %>
    <% if @course.users.size > 0 %>
		<br style='clear: both' />
    <% end %>
		<% if @course.users.empty? %>
			<li class="no_itens">Nenhum participante</li>
		<% end %>
		</ul>
	</div>
